/* GENERAL */
*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

body{
    background: #EDEDED;
}

h1{
    font-size: 1rem;
    text-align: center;
    padding-top: 6px;
}

h3{
    font-size: 0.9rem;
}

.send-right{
    margin-left: auto;
}

/* GENERAL */

/* NAVEGADOR */
#nav{
    background-color: #003785;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav{
    max-width: 1100px;
    margin: auto;
}

nav ul{
    display: flex;
    align-items: center;
}

nav li.menu{
    background: #1465bb;
    padding: 7px;
    height: 35px;
    list-style: none;
    margin-right: 18px;
    border-radius: 4px;
}

nav li:hover{
    background:#81c9fa;
    color: #3B3B3B;
    cursor: pointer;
}
/* NAVEGADOR */

/* CONTENEDOR */
#container{
    background: #ffffff;
    max-width: 1100px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    /* border-radius: 2px; */
}

#container #containerInt{
    flex-grow: 1;
    padding: 10px;
}

#container aside{
    width: 300px;
    padding: 10px;
    background: #003785;
    border-radius: 2px;
}

.category{
    display: flex;
    background: #81c9fa;
    padding: 10px;
    border-radius: 2px;
    border-bottom: solid 2px #003785;
}
.relatedArticle{
    width: 280px;
    background: #b9ffff;
    margin: auto;
    margin-bottom: 6px;
    border-radius: 2px;
    padding: 5px;
    transition: all .2s;
}

.relatedArticle:hover{
    transform: scale(1.03);
    box-shadow: 0px 0px 10px 0px #1465bb;
    cursor: pointer;
}

.imagePrincipal{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    /* margin-left: 80px; */
}

.navPost{
    display: flex;
    text-align: center;
    margin-top: 20px;
}

.navPost div{
    flex-grow: 1;
    padding: 10px;
}

.navPost p{
    cursor: pointer;
    background: #003785;
    color: #ffffff;
}

.navPost p:hover{
    color: black;
}
/* CONTENEDOR */

/* FOOTER */
section#footer{
    /* height: 100px; */
    background-color: #003785;
    color: #ffffff;
}

footer{
    display: flex;
    max-width: 1100px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    justify-content: space-between;
}

/* section .contact{
    margin-top: 10px;
}

section .logo{
    margin-top: 10px;
} */

/* FOOTER */

/* IPAD */
@media (max-width: 770px){
    #container{
        flex-direction: column;
        margin-bottom: 0px;
    }
    #container aside{
        width: 100%;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        background: #003785;
    }
    .relatedArticle{
        width: 33%;
        /* height: 210px; */
    }
    nav, footer{
        width: 95%;
    }
    nav li.menu{
        padding-bottom: 25px;
    }
}
/* IPAD */

/* MOVIL */
@media (max-width: 380px){
    ul{
        max-width: 95%;
        flex-wrap: wrap-reverse;
    }
    .logo{
        margin: auto;
        margin-bottom: 10px;
    }
    nav li.menu{
        margin-left: 6px;
    }
    footer{
        padding-bottom: 0px;
        flex-direction: column;
        text-align: center;
    }
    .relatedArticle{
        width: 90%;
    }
}
/* MOVIL */